Flask
Flask-SQLAlchemy
Flask-WTF
WTForms
email_validator
Werkzeug
flask_login
flask_mail
fpdf
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
flask_migrate
sendgrid
sendgrid.helpers.mail
python-dotenv
json
