<!-- templates/register_member.html -->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Beim Verein registrieren</title>
</head>
<body>
    <h2>Verein beitreten / Mitglied werden</h2>

    <form method="POST" action="{{ url_for('register_member') }}">
        {{ form.csrf_token }}
        
        <div>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </div>
        <div>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </div>
        <div>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password(size=32) }}
        </div>
        <div>
            {{ form.vorname.label }}<br>
            {{ form.vorname(size=32) }}
        </div>
        <div>
            {{ form.nachname.label }}<br>
            {{ form.nachname(size=32) }}
        </div>
        <div>
            {{ form.verein_id.label }}<br>
            {{ form.verein_id }}
        </div>
        
        {{ form.submit() }}
    </form>
</body>
</html>
